<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegisterAPP Duoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="contenedor">
    <div class="recup-pass">
      <div>
        <label class="titulo">Recuperar contraseña</label>
      </div>
      <ion-item class="usuario">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="text" placeholder="correo@duocuc.cl"></ion-input>
      </ion-item>
      <p>Para proteger tu cuenta, queremos verificar que eres tú quien está intentando iniciar sesión</p>
      <ion-button color="light" id="btn" href="">Recuperar</ion-button>
    </div>
  </div>
</ion-content>
